$grey-color: #d9d9d9;
$black-color: #000000;
$white: #ffffff;
$basic-green: #68b738;
$basic-grey: #f2f2f2;
$grey-text: #444444;
$border-color: #e6e6e6;
$border-grey: #ebebeb;
$text-second: #222222;
$bg-color: #eaeaea;
$second-border: #cdcdcd;
$black-second: #666666;
$btn-color-more: #d3d3d3;
$black-color-second: #111111;

$tablet-width: 768px;
$desktop-width: 1440px;
